.main {
  background-color: #ebeae9;
  min-height: 100vh;
  max-height: 100%;
  padding: 30px;
}

.main>h2 {
  font-weight: 400;
}

.App__loaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App__loadingList {
  font-size: 26px;
  font-weight: 500;
}